<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src/Agent</directory>
            <directory suffix=".php">./src/BaseDatasource</directory>
            <directory suffix=".php">./src/DatasourceCustomizer</directory>
            <directory suffix=".php">./src/DatasourceDoctrine</directory>
            <directory suffix=".php">./src/DatasourceToolkit</directory>
        </include>
    </coverage>
</phpunit>
